# Unnecessary and intermediate R files
.Rhistory
.RData
.Rproj.user
**/*.Rout
_bookdown_files/
*_cache/

# System files and logs
**/.DS_Store
**/*.log

# Raw data must be individually downloaded to data-raw/
data-raw/
data/

# Outputs
**/*.pdf
**/*.rds
