#!/bin/bash
# Template: applied to each job drake creates
# Modify this to whatever you expect each job to need
#SBATCH --ntasks=1
#SBATCH --nodes=1
#SBATCH --time=30:00:00
#SBATCH --job-name=mtf-worker
#SBATCH --partition=htc

module purge
module load R
Rscript -e 'batchtools::doJobCollection("<%= uri %>")'
